DB_SEVERNAME=YOUR_SERVER_NAME\SQLEXPRESS
DB_DBNAME=EXPENSE_TRACKER_DB
DB_USERNAME=sa
DB_PASSWORD=YOUR_PASSWORD

EXPENSE_TRACKER_DBEntities=metadata=res://*/Model.EXPENSE_TRACKER_DB.csdl|res://*/Model.EXPENSE_TRACKER_DB.ssdl|res://*/Model.EXPENSE_TRACKER_DB.msl;provider=System.Data.SqlClient;provider connection string="data source=YOUR_SERVER_NAME\SQLEXPRESS;initial catalog=EXPENSE_TRACKER_DB;user id=sa;password=YOUR_PASSWORD;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" 