<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EXPENSE_TRACKER_DBEntities1" connectionString="metadata=res://*/Model.EXPENSE_TRACKER_DB.csdl|res://*/Model.EXPENSE_TRACKER_DB.ssdl|res://*/Model.EXPENSE_TRACKER_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;    data source=;    initial catalog=;    user id=;    password=;    multipleactiveresultsets=True;    trustservercertificate=True;    application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EXPENSE_TRACKER_DBEntities" connectionString="metadata=res://*/Model.EXPENSE_TRACKER_DB.csdl|res://*/Model.EXPENSE_TRACKER_DB.ssdl|res://*/Model.EXPENSE_TRACKER_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Vu-Johan\SQLEXPRESS;initial catalog=EXPENSE_TRACKER_DB;user id=sa;password=510206;trustservercertificate=True;user instance=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EXPENSE_TRACKER_DB_Entities" connectionString="metadata=res://*/Model.EXPENSE_TRACKER_Entities.csdl|res://*/Model.EXPENSE_TRACKER_Entities.ssdl|res://*/Model.EXPENSE_TRACKER_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Vu-Johan\SQLEXPRESS;initial catalog=EXPENSE_TRACKER_DB;user id=sa;password=510206;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>